.sign-in {
  width: 450px;
  display: flex;
  flex-direction: column;

  .form {
    width: 300px;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}